* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 20px 25px;
  box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 10%);
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1000;
  top: 0;
  left: 0;
}

h1 {
  padding-top: 110px;
  text-align: center;
  margin-bottom: 50px;
}

.logo {
  font-size: large;
  font-weight: 800;
  text-decoration: none;
  color: black;
}

.menu a {
  margin: 0px 35px;
  text-decoration: none;
  color: black;
}

.menu a:last-child {
  margin: 0;
}

.menu a:hover {
  color: rgb(78, 126, 254);
}

footer {
  height: 200px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  font-weight: bold;
}

.upload {
  background-color: #f6f7fa;
  height: auto;
  padding: 50px 15px;
  position: relative;
}

.upload-section {
  border: 3px dashed #4e7efe;
  border-radius: 3px;
  padding: 45px 30px 35px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-upload {
  cursor: pointer;
  font-size: 15px;
  height: 57px;
  line-height: 57px;
  display: inline-block;
  color: #fff;
  padding: 0 65px;
  background: #4e7efe;
  margin-bottom: 10px;
  border-radius: 4px;
  font-weight: bold;
}

.upload-section p {
  color: #949494;
  font-size: 13px;
}

.tab-menu {
  border: solid 1px #ddd;
  border-bottom: none;
  background: #f8fbff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  list-style: none;
  height: 50px;
  margin: 0px auto;
  padding: 0px;
  width: 80%;
  margin-top: 50px;
}

.tab-menu li {
  float: left;
  width: fit-content;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0px 20px;
}

.tab-menu li a {
  color: #999;
  font-weight: bold;
}

.image {
  border: 1px solid #ddd;
  border-top: none;
  background: #e3f0ff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 0px auto;
  margin-bottom: 195px;
}

.img-upload {
  width: 100%;
  height: auto;
}

.download {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.download button {
  padding: 13px 65px;
  text-transform: unset;
  cursor: pointer;
  border: 2px solid #2d8eff;
  background: #2d8eff;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}

.tab-active,
.tab-menu li:hover {
  border: none;
  background: #e3f0ff;
}

.tab-active a,
.tab-menu li:hover a {
  color: #2d8eff !important;
}

#about {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 50px;
  background-color: #f6f7fa;
}

#about div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-top: 50px;
}

#about div img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  margin-bottom: 10px;
}

#myUploadImage {
  display: none;
}

#result {
  display: none;
}

#download {
  display: none;
}

.error {
  display: none;
  position: absolute;
  bottom: 0;
  color: red;
}

@media only screen and (min-width: 1280px) {
  .navbar {
    padding-left: 10%;
    padding-right: 10%;
  }
  .upload {
    padding-left: 10%;
    padding-right: 10%;
  }
}
